<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
  <div id="background">
    <div id="page">
      {{> header }}

      <div id="contents">
        <div class="box">
          <div>
            <div class="body">
              <h1>Travel</h1>
              <ul id="sites">
                <li>
                  <a href="/travel"><img src="images/reef1.jpg" alt="Img"></a>
                  <h2><a href="/travel">Gale Reef</a></h2>
                  <p>Sed et augue lorem... Fusce at pretium felis.</p>
                  <p>Sed consequat libero... vitae laoreet.</p>
                </li>
                <li>
                  <a href="/travel"><img src="images/reef2.jpg" alt="Img"></a>
                  <h2><a href="/travel">Dawson’s Reef</a></h2>
                  <p>Integer magna leo... tristique quis nisl.</p>
                  <p>Morbi aliquet viverra... vel sapien.</p>
                </li>
                <li>
                  <a href="/travel"><img src="images/reef3.jpg" alt="Img"></a>
                  <h2><a href="/travel">Claire’s Reef</a></h2>
                  <p>Donec sed felis risus... molestie lorem.</p>
                  <p>Integer purus justo... cursus in tortor.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{> footer }}

  </div>
</body>
</html>
